alabaster==0.7.13 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Darwin" or python_version >= "3.10" and python_version < "3.11" and sys_platform == "darwin"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==22.2.0 ; python_version >= "3.10" and python_version < "3.11"
autoclasstoc==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
babel==2.11.0 ; python_version >= "3.10" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.11.1 ; python_version >= "3.10" and python_version < "3.11"
bleach==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
certifi==2022.12.7 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
comm==0.1.2 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.0.7 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.6.5 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.11"
docutils==0.17.1 ; python_version >= "3.10" and python_version < "3.11"
entrypoints==0.4 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastjsonschema==2.16.2 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.38.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.20.2 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.8.0 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.18.2 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==7.4.9 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.1.3 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.6.3 ; python_version >= "3.10" and python_version < "3.11"
mistune==2.0.4 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==9.0.0 ; python_version >= "3.10" and python_version < "3.11"
nbclient==0.7.2 ; python_version >= "3.10" and python_version < "3.11"
nbconvert==7.2.8 ; python_version >= "3.10" and python_version < "3.11"
nbformat==5.7.3 ; python_version >= "3.10" and python_version < "3.11"
nbsphinx==0.8.11 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.5.6 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.24.1 ; python_version >= "3.10" and python_version < "3.11"
numpydoc==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
nvidia-cublas-cu11==11.10.3.66 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
packaging==23.0 ; python_version >= "3.10" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
pillow==9.4.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==2.6.2 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.36 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.4 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
pygments==2.14.0 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
pyrsistent==0.19.3 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.10" and python_version < "3.11"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
pyzmq==25.0.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.28.2 ; python_version >= "3.10" and python_version < "3.11"
setuptools==66.0.0 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.3.2.post1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-autodoc-typehints==1.21.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-math-dollar==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-rtd-theme==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-applehelp==1.0.3 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
torch==1.13.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.8.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "3.11"
urllib3==1.26.14 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
wheel==0.38.4 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Linux"
git+https://github.com/rbosh/ml-adp
