alabaster==0.7.12 ; python_version >= "3.7" and python_version < "3.8"
appnope==0.1.3 ; python_version >= "3.7" and python_version < "3.8" and platform_system == "Darwin" or python_version >= "3.7" and python_version < "3.8" and sys_platform == "darwin"
attrs==22.1.0 ; python_version >= "3.7" and python_version < "3.8"
autoclasstoc==1.5.1 ; python_version >= "3.7" and python_version < "3.8"
babel==2.10.3 ; python_version >= "3.7" and python_version < "3.8"
backcall==0.2.0 ; python_version >= "3.7" and python_version < "3.8"
beautifulsoup4==4.11.1 ; python_version >= "3.7" and python_version < "3.8"
bleach==5.0.1 ; python_version >= "3.7" and python_version < "3.8"
certifi==2022.6.15 ; python_version >= "3.7" and python_version < "3.8"
cffi==1.15.1 ; python_version >= "3.7" and python_version < "3.8" and implementation_name == "pypy"
charset-normalizer==2.1.1 ; python_version >= "3.7" and python_version < "3.8"
colorama==0.4.5 ; python_version >= "3.7" and python_version < "3.8" and sys_platform == "win32"
debugpy==1.6.3 ; python_version >= "3.7" and python_version < "3.8"
decorator==5.1.1 ; python_version >= "3.7" and python_version < "3.8"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.8"
docutils==0.17.1 ; python_version >= "3.7" and python_version < "3.8"
entrypoints==0.4 ; python_version >= "3.7" and python_version < "3.8"
fastjsonschema==2.16.1 ; python_version >= "3.7" and python_version < "3.8"
idna==3.3 ; python_version >= "3.7" and python_version < "3.8"
imagesize==1.4.1 ; python_version >= "3.7" and python_version < "3.8"
importlib-metadata==4.12.0 ; python_version >= "3.7" and python_version < "3.8"
importlib-resources==5.9.0 ; python_version >= "3.7" and python_version < "3.8"
ipykernel==6.15.2 ; python_version >= "3.7" and python_version < "3.8"
ipython==7.34.0 ; python_version >= "3.7" and python_version < "3.8"
jedi==0.18.1 ; python_version >= "3.7" and python_version < "3.8"
jinja2==3.1.2 ; python_version >= "3.7" and python_version < "3.8"
jsonschema==4.15.0 ; python_version >= "3.7" and python_version < "3.8"
jupyter-client==7.3.5 ; python_version >= "3.7" and python_version < "3.8"
jupyter-core==4.11.1 ; python_version >= "3.7" and python_version < "3.8"
jupyterlab-pygments==0.2.2 ; python_version >= "3.7" and python_version < "3.8"
lxml==4.9.1 ; python_version >= "3.7" and python_version < "3.8"
markupsafe==2.1.1 ; python_version >= "3.7" and python_version < "3.8"
matplotlib-inline==0.1.6 ; python_version >= "3.7" and python_version < "3.8"
mistune==2.0.4 ; python_version >= "3.7" and python_version < "3.8"
more-itertools==8.14.0 ; python_version >= "3.7" and python_version < "3.8"
nbclient==0.6.7 ; python_version >= "3.7" and python_version < "3.8"
nbconvert==7.0.0 ; python_version >= "3.7" and python_version < "3.8"
nbformat==5.4.0 ; python_version >= "3.7" and python_version < "3.8"
nbsphinx==0.8.9 ; python_version >= "3.7" and python_version < "3.8"
nest-asyncio==1.5.5 ; python_version >= "3.7" and python_version < "3.8"
numpydoc==1.4.0 ; python_version >= "3.7" and python_version < "3.8"
packaging==21.3 ; python_version >= "3.7" and python_version < "3.8"
pandocfilters==1.5.0 ; python_version >= "3.7" and python_version < "3.8"
parso==0.8.3 ; python_version >= "3.7" and python_version < "3.8"
pexpect==4.8.0 ; python_version >= "3.7" and python_version < "3.8" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.7" and python_version < "3.8"
pkgutil-resolve-name==1.3.10 ; python_version >= "3.7" and python_version < "3.8"
prompt-toolkit==3.0.31 ; python_version >= "3.7" and python_version < "3.8"
psutil==5.9.2 ; python_version >= "3.7" and python_version < "3.8"
ptyprocess==0.7.0 ; python_version >= "3.7" and python_version < "3.8" and sys_platform != "win32"
py==1.11.0 ; python_version >= "3.7" and python_version < "3.8" and implementation_name == "pypy"
pycparser==2.21 ; python_version >= "3.7" and python_version < "3.8" and implementation_name == "pypy"
pygments==2.13.0 ; python_version >= "3.7" and python_version < "3.8"
pyparsing==3.0.9 ; python_version >= "3.7" and python_version < "3.8"
pyrsistent==0.18.1 ; python_version >= "3.7" and python_version < "3.8"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "3.8"
pytz==2022.2.1 ; python_version >= "3.7" and python_version < "3.8"
pywin32==304 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.7" and python_version < "3.8"
pyzmq==23.2.1 ; python_version >= "3.7" and python_version < "3.8"
requests==2.28.1 ; python_version >= "3.7" and python_version < "3.8"
setuptools==65.3.0 ; python_version >= "3.7" and python_version < "3.8"
six==1.16.0 ; python_version >= "3.7" and python_version < "3.8"
snowballstemmer==2.2.0 ; python_version >= "3.7" and python_version < "3.8"
soupsieve==2.3.2.post1 ; python_version >= "3.7" and python_version < "3.8"
sphinx-autodoc-typehints==1.19.2 ; python_version >= "3.7" and python_version < "3.8"
sphinx-math-dollar==1.2.1 ; python_version >= "3.7" and python_version < "3.8"
sphinx-rtd-theme==1.0.0 ; python_version >= "3.7" and python_version < "3.8"
sphinx==5.1.1 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-applehelp==1.0.2 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-htmlhelp==2.0.0 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.7" and python_version < "3.8"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.7" and python_version < "3.8"
tinycss2==1.1.1 ; python_version >= "3.7" and python_version < "3.8"
tornado==6.2 ; python_version >= "3.7" and python_version < "3.8"
traitlets==5.3.0 ; python_version >= "3.7" and python_version < "3.8"
typing-extensions==4.3.0 ; python_version >= "3.7" and python_version < "3.8"
urllib3==1.26.12 ; python_version >= "3.7" and python_version < "3.8"
wcwidth==0.2.5 ; python_version >= "3.7" and python_version < "3.8"
webencodings==0.5.1 ; python_version >= "3.7" and python_version < "3.8"
zipp==3.8.1 ; python_version >= "3.7" and python_version < "3.8"
git+https://github.com/rbosh/ml-adp
