alabaster==0.7.13 ; python_version >= "3.10" and python_version < "3.11"
appnope==0.1.3 ; python_version >= "3.10" and python_version < "3.11" and platform_system == "Darwin" or python_version >= "3.10" and python_version < "3.11" and sys_platform == "darwin"
asttokens==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
autoclasstoc==1.6.0 ; python_version >= "3.10" and python_version < "3.11"
babel==2.12.1 ; python_version >= "3.10" and python_version < "3.11"
backcall==0.2.0 ; python_version >= "3.10" and python_version < "3.11"
beautifulsoup4==4.12.2 ; python_version >= "3.10" and python_version < "3.11"
bleach==6.0.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2023.7.22 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
comm==0.1.4 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.1.0 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
debugpy==1.6.7.post1 ; python_version >= "3.10" and python_version < "3.11"
decorator==5.1.1 ; python_version >= "3.10" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "3.11"
docutils==0.18.1 ; python_version >= "3.10" and python_version < "3.11"
executing==1.2.0 ; python_version >= "3.10" and python_version < "3.11"
fastjsonschema==2.18.0 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.2 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.42.1 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
imagesize==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
ipykernel==6.25.1 ; python_version >= "3.10" and python_version < "3.11"
ipython==8.14.0 ; python_version >= "3.10" and python_version < "3.11"
jedi==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2023.7.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.19.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-client==8.3.0 ; python_version >= "3.10" and python_version < "3.11"
jupyter-core==5.3.1 ; python_version >= "3.10" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.5 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.11"
matplotlib-inline==0.1.6 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
mistune==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==10.1.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
nbclient==0.8.0 ; python_version >= "3.10" and python_version < "3.11"
nbconvert==7.7.4 ; python_version >= "3.10" and python_version < "3.11"
nbformat==5.9.2 ; python_version >= "3.10" and python_version < "3.11"
nbsphinx==0.8.12 ; python_version >= "3.10" and python_version < "3.11"
nest-asyncio==1.5.7 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.25.2 ; python_version >= "3.10" and python_version < "3.11"
numpydoc==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.10" and python_version < "3.11"
parso==0.8.3 ; python_version >= "3.10" and python_version < "3.11"
pexpect==4.8.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pickleshare==0.7.5 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.0.0 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==3.10.0 ; python_version >= "3.10" and python_version < "3.11"
prompt-toolkit==3.0.39 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.11"
ptyprocess==0.7.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform != "win32"
pure-eval==0.2.2 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11" and implementation_name == "pypy"
pygments==2.16.1 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
pyzmq==25.1.1 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.30.2 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.9.2 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.10" and python_version < "3.11"
soupsieve==2.4.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-autodoc-typehints==1.23.0 ; python_version >= "3.10" and python_version < "3.11"
sphinx-math-dollar==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
sphinx-rtd-theme==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
sphinx==5.3.0 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-applehelp==1.0.7 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-devhelp==1.0.5 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-htmlhelp==2.0.4 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-jquery==4.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-qthelp==1.0.6 ; python_version >= "3.10" and python_version < "3.11"
sphinxcontrib-serializinghtml==1.1.9 ; python_version >= "3.10" and python_version < "3.11"
stack-data==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.10" and python_version < "3.11"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tornado==6.3.3 ; python_version >= "3.10" and python_version < "3.11"
traitlets==5.9.0 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==2.0.4 ; python_version >= "3.10" and python_version < "3.11"
wcwidth==0.2.6 ; python_version >= "3.10" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "3.11"
git+https://github.com/rbosh/ml-adp
